<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>My Portfolio Blog</title>
    <%= stylesheet_link_tag "main" %>
  </head>
  <body>
    <main role="main" class="container">
      <%= partial "partials/nav" %>
      <div>
        <aside class="side-nav">
          <h1><%= link_to "My Blog", "/"%></h1>
          <p>Join me on a journey through space and time</p>

          <ul>
            <% blog.tags.each do |tag, articles| %>
              <li><%= link_to "#{tag} (#{articles.size})", tag_path(tag) %></li>
            <% end %>
          </ul>

        </aside>
        <section class="post-container">
          <%= yield %>
        </section>
      </div>
      <%= partial "partials/footer" %>
    </main>
  </body>
</html>


